.note-title{
  color: rgb(252, 134, 0);
}

.notes-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow-y: scroll;
  max-height: 40vh; */
}

.close-cross{
  color: rgb(197, 0, 0);
  cursor: pointer;
}